html {
	scroll-behavior: smooth;
}
body {
    background-attachment: fixed;
    background-image: url("../img/fondoIndex.jpg");
    background-size: cover;
    main {
      padding-bottom: 10px;
      padding-top: 75px;
      p {
        font-family: "encode";
      }
      .fa-caret-square-down{
        color: white;
        font-size: 2rem;
      }
      .fa-caret-square-up {
        font-size: 1.5rem;
      }
      .card {
        padding-top: 0px;
      }
    }
    h1 {
      font-family: "gilroyEB";
      font-size: 3.5rem;
      margin-bottom: 30px;
      margin-top: 30px;
      text-align: center;
    }
    h2, h3, h4 {
      font-family: "gilroyEB";
      margin-bottom: 15px;
      margin-top: 15px;
      text-align: center;
    }
    h5 {
      font-family: "gilroyEB";
      text-align: center;
      font-size: 1.2rem;
    }
    form {
      padding: 10px;
    }    
}
#ultimoPartido {
  margin-bottom: 10px;
  margin-top: 10px;
}
#fixtureGrid {
  align-items: center;
  background-color: $hgray;
  border: 1px solid black;
  column-gap: 1px;
  display: grid;
  font-family: "asap";
  font-size: 1rem;
  grid-template-columns: 2fr 4fr 1fr 1fr 4fr;
  grid-template-rows: repeat(8, 1fr);
  justify-items: center;
  min-height: 300px;
  row-gap: 1px;
  text-align: center;
}
@media screen and (max-width: 576px) {                                                  /*Media Queries*/
  .div-disp-none-sm{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .div-disp-none-md {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .div-disp-none-lg {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .div-disp-none-xl {
    display: none;
  }
}